.tracker {
  display: flex;
  flex-direction: column;
  transition: max-width 0.2s ease;
  width: 100%;
  margin: auto;
  max-width: 400px;
}

.tracker.expandido {
  max-width: 800px;
}

.contenido {
  max-width: 1000px;

  display: flex;
  gap: 1rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  .contenido {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .contenido {
    flex-direction: row;
    gap: 1rem;
  }

  .formulario {
    flex: 1;
    max-width: 400px;
  }

  .historial-contenedor {
    flex: 1;
    background: #ffffff;
    border-radius: 8px;
    padding: 0.5rem;
    overflow-x: auto;
    max-height: 525px;
  }
}

.historial-toggle {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.historial-toggle button {
  padding: 0.5rem 1.2rem;
  background-color: #007bff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.historial-toggle button:hover {
  background-color: #0056b3;
}

.historial {
  width: 350px;
  margin-top: 0;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Para pantallas menores a 600px */
@media (max-width: 768px) {

  .form-card,
  .historial {
    max-width: 300px;
  }
}

.form-wrapper {
  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.form-header {
  background-color: #34495e;
  color: white;
  text-align: center;
}

