.tracker {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 400px;
}

.contenido {
  padding: 1rem;
}

.formulario {
  width: 100%;
}

.historial-toggle {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.form-wrapper {
  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.form-header {
  background-color: #34495e;
  color: white;
  text-align: center;
}

.historial-toggle button {
  padding: 0.5rem 1.2rem;
  background-color: #007bff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.historial-toggle button:hover {
  background-color: #0056b3;
}

.history-wrapper {
  width: 400px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.history-header {
  background-color: #34495e;
  color: white;
  text-align: center;
  display: flex;
  border-radius: 10px 10px 0 0;
}

.history-header h1 {
  width: 100%;
  text-align: center;
}

.history-card {
  margin: auto;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  flex: 1;
}

/* Para pantallas menores a 750px */
@media (max-width: 750px) {
  .tracker {
    max-width: 400px;
  }

  .contenido {
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
  }

  .formulario {
    flex: 1;
    max-width: 400px;
  }

  .history-card {
    padding: 0.5rem;
  }

}